<br><br>
<h1 class="text-center">{{title}}</h1>
<hr>
<div class="container">
    <form class="form-group row">
        <div class="form-group col-md-3">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Ingrese nombre">
        </div>
        <div class="form-group col-md-3">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" placeholder="Ingrese apellido">
        </div>
        <div class="form-group col-md-3">
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" [(ngModel)]="cargo" placeholder="Ingrese cargo">
        </div>
        <div class="form-group col-md-3">
            <label for="salario">Salario:</label>
            <input type="number" id="salario" name="salario" [(ngModel)]="salario" >
        </div>
        
        <div class="col">
            <p class="text-{{color}} text-center" *ngIf="vacio">{{mensaje}}</p>     
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;" (click)="addUsusario()">Agregar</button>
        </div>
    </form>
</div>





<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col">
            
            <div>
                <table class="table table-primary">
                    <thead>
                        <th class="text-center">#</th>
                        <th class="text-center">NOMBRE</th>
                        <th class="text-center">APELLIDO</th>
                        <th class="text-center">CARGO</th>
                        <th class="text-center">SALARIO</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{empleado.nombre}}</td>
                            <td class="text-center">{{empleado.apellido}}</td>
                            <td class="text-center">{{empleado.cargo}}</td>
                            <td class="text-center">${{empleado.salario}}.00</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        

    </div>





</div>